*{
	margin: 0;
	padding: 0;
}
body {
	background-color:#f4f4f4;
	font-family:'Poppins', Sans-serifs;
	line-height: 1.6em;
}


.gallery{
	margin-top:100px;
	text-align:center;
	color:coral;
}

.gallery h2{
	text-align:center;
	margin-bottom:20px;
}

.container {
	width:80%;
	margin:auto;
	overflow: hidden;
	float:center;
}

.oculus{
	text-align:left;
	margin:0px;
}

.description p{
	text-align:center;
	font-size:100;
	margin-top:50px;
	margin-bottom: 0px;
	margin-left:300px; 
	margin-right:300px;
	border:5px grey solid;
}

.description a{
	float:left;
	margin:0px 20px;
}

.description b{
	float:right;
	margin:0px 20px;
}

.description h2{
	margin-top:30px;
	float:center;
}

.sub-container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#title h2{
	margin:50px 45%;
	text-align:center;
	color:coral;
	border:1px black solid;
}

.video{
	margin:30px;
}

#sub-header{
	background-color:coral;
	color:#fff;
	text-align:center;
	padding:20px;
}

#sub-header h1{
	margin:10px;
}

#nav-bar {
	background-color:#333;
	color:#fff;
	padding: 30px;
}

#nav-bar ul{
	padding:0;
	list-style: none;
	text-align: center;
}

#nav-bar li{
	display:inline;
	font-size: 16px;
}

#nav-bar a{
	color:#fff;
	text-decoration: none;
	font-size:20px;
	padding: 100px;

}

#logotag {
	text-align:center;
}